<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />

    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <link href="/static/styles.css" rel="stylesheet" />

    <title>Home</title>
  </head>
  <body class="bg-index">
    <div id="mySidenav" class="sidenav">
      <a href="javascript:void(0)" class="closebtn" onclick="closeNav()"
        >&times;</a
      >
      <a href="/">Home</a>
      <a href="/pentatonix">Pentatonix</a>
      <a href="#">Contact</a>
      <ul class="navbar-nav ms-auto mt-2">
        <li><a href="/logout">Log Out</a></li>
      </ul>
    </div>

    <!-- Use any element to open the sidenav -->
    <span class="span-menu glyphicon" onclick="openNav()">&#xe236;</span>

    <div class="cont-index">
      <h1 class="text-center h1">React-i-rate</h1>
      <h3 class="text-center h3">Remember the Good, Rate the Rest</h3>
      <h4 class="text-center h4">
        Keep Track of, Rate and Comment on YouTube Creators
      </h4>
    </div>
    <div class="form2-cont">
      <div class="index-form-box">
        <div class="index-form-value">
          <form
            class="text-center form-index"
            method="POST"
            action="/"
            name="form1"
          >
            <h3>Enter name of YouTube Channel</h3>
            <h5>
              <i>
                Example: pentatonix or @PTXofficial<br />with or without the "@"
                symbol</i
              >
            </h5>
            <input
              class="input-field text-center"
              type="text"
              name="username"
              placeholder="Enter username"
            />
            <input type="hidden" name="form_name" value="form1" />
            <button class="search-btn" type="submit">Search</button>
          </form>
        </div>
      </div>
    </div>
    <div id="stats-cont" class="stats-cont">
      <div class="stats-info text-center">
        <h1>YouTube Statistics</h1>
        <img class="pic" src="{{ channel_thumbnail }}" alt="Profile Picture" />
        <h3 class="index-stats">Channel Name:</h3>
        <p class="index-p">{{ channel_name }}</p>
        <h3 class="index-stats">Video Count:</h3>
        <p class="index-p">{{ video_count }}</p>
        <h3 class="index-stats">Subscriber Count:</h3>
        <p class="index-p">{{ subscriber_count }}</p>
        <h3 class="index-stats">Channel Description:</h3>
        <p class="index-p">{{ channel_description }}</p>
        <h3 class="index-stats">First Created Video Date:</h3>
        <p class="index-p">{{ formatted_date }}</p>
        <h3 class="index-stats">Last Created Video Date:</h3>
        <p class="index-p">{{ formatted_last_video_date }}</p>
      </div>
    </div>
    <h2>Saved YouTube Creators</h2>
    <div class="row creator-cards" id="creator-cards">
      {% for creator in creators %}
      <div class="card card-cont text-center">
        <div class="card-header card-item">
          <img
            src="{{ creator[3] }}"
            alt="Channel thumbnail"
            class="card-img-top card-image"
          />
          <div class="card-body">
            <h3 class="card-title">
              <a
                class="you-link"
                target="_blank"
                href="https://www.youtube.com/channel/{{ creator[7] }}"
                >{{ creator[1] }}</a
              >
            </h3>
            <p class="card-text">Subscribers: {{ creator[4] }}</p>
            <p class="card-text">Videos: {{ creator[5] }}</p>
            <p class="card-text">{{ creator[2] }}</p>
            <div class="rating-cont">
              {% for rating in ratings %} {% if rating[15] == creator[7] %}
              <p class="rating_header">General Rating</p>
              <div class="general">
                {% for i in range(rating[0]) %}
                <ion-icon name="star-sharp"></ion-icon>
                {% endfor %} {% for i in range(10 - rating[0]) %}
                <ion-icon name="star-outline"></ion-icon>
                {% endfor %}
              </div>
              <br /><br />
              <p class="rating-header">Other Ratings</p>
              <div class="rating">
                {% if rating[1] is not none %}
                  <p class="rating-header">{{ columns[1] }}</p>
                  {% for i in range(rating[1]) %}
                    <ion-icon name="star-sharp"></ion-icon>
                  {% endfor %}
                  {% for i in range(10 - rating[1]) %}
                    <ion-icon name="star-outline"></ion-icon>
                  {% endfor %}
                {% endif %}
                {% if rating[2] is not none %}
                  <p class="rating-header">{{ columns[2] }}</p>
                  {% for i in range(rating[2]) %}
                    <ion-icon name="star-sharp"></ion-icon>
                  {% endfor %}
                  {% for i in range(10 - rating[2]) %}
                    <ion-icon name="star-outline"></ion-icon>
                  {% endfor %}
                {% endif %}
                {% if rating[3] is not none %}
                  <p class="rating-header">{{ columns[3] }}</p>
                  {% for i in range(rating[3]) %}
                    <ion-icon name="star-sharp"></ion-icon>
                  {% endfor %}
                  {% for i in range(10 - rating[3]) %}
                    <ion-icon name="star-outline"></ion-icon>
                  {% endfor %}
                {% endif %}
                {% if rating[4] is not none %}
                  <p class="rating-header">{{ columns[4] }}</p>
                  {% for i in range(rating[4]) %}
                    <ion-icon name="star-sharp"></ion-icon>
                  {% endfor %}
                  {% for i in range(10 - rating[4]) %}
                    <ion-icon name="star-outline"></ion-icon>
                  {% endfor %}
                {% endif %}
                {% if rating[5] is not none %}
                  <p class="rating-header">{{ columns[5] }}</p>
                  {% for i in range(rating[5]) %}
                    <ion-icon name="star-sharp"></ion-icon>
                  {% endfor %}
                  {% for i in range(10 - rating[5]) %}
                    <ion-icon name="star-outline"></ion-icon>
                  {% endfor %}
                {% endif %}
                {% if rating[6] is not none %}
                  <p class="rating-header">{{ columns[6] }}</p>
                  {% for i in range(rating[6]) %}
                    <ion-icon name="star-sharp"></ion-icon>
                  {% endfor %}
                  {% for i in range(10 - rating[6]) %}
                    <ion-icon name="star-outline"></ion-icon>
                  {% endfor %}
                {% endif %}
                {% if rating[7] is not none %}
                  <p class="rating-header">{{ columns[7] }}</p>
                  {% for i in range(rating[7]) %}
                    <ion-icon name="star-sharp"></ion-icon>
                  {% endfor %}
                  {% for i in range(10 - rating[7]) %}
                    <ion-icon name="star-outline"></ion-icon>
                  {% endfor %}
                {% endif %}
                {% if rating[8] is not none %}
                  <p class="rating-header">{{ columns[8] }}</p>
                  {% for i in range(rating[8]) %}
                    <ion-icon name="star-sharp"></ion-icon>
                  {% endfor %}
                  {% for i in range(10 - rating[8]) %}
                    <ion-icon name="star-outline"></ion-icon>
                  {% endfor %}
                {% endif %}
                {% if rating[9] is not none %}
                  <p class="rating-header">{{ columns[9] }}</p>
                  {% for i in range(rating[9]) %}
                    <ion-icon name="star-sharp"></ion-icon>
                  {% endfor %}
                  {% for i in range(10 - rating[9]) %}
                    <ion-icon name="star-outline"></ion-icon>
                  {% endfor %}
                {% endif %}
                {% if rating[10] is not none %}
                  <p class="rating-header">{{ columns[10] }}</p>
                  {% for i in range(rating[10]) %}
                    <ion-icon name="star-sharp"></ion-icon>
                  {% endfor %}
                  {% for i in range(10 - rating[10]) %}
                    <ion-icon name="star-outline"></ion-icon>
                  {% endfor %}
                {% endif %}
                {% if rating[11] is not none %}
                  <p class="rating-header">{{ columns[11] }}</p>
                  {% for i in range(rating[11]) %}
                    <ion-icon name="star-sharp"></ion-icon>
                  {% endfor %}
                  {% for i in range(10 - rating[11]) %}
                    <ion-icon name="star-outline"></ion-icon>
                  {% endfor %}
                {% endif %}
                {% if rating[12] is not none %}
                  <p class="rating-header">{{ columns[12] }}</p>
                  {% for i in range(rating[12]) %}
                    <ion-icon name="star-sharp"></ion-icon>
                  {% endfor %}
                  {% for i in range(10 - rating[12]) %}
                    <ion-icon name="star-outline"></ion-icon>
                  {% endfor %}
                {% endif %}
                {% if rating[13] is not none %}
                  <p class="rating-header">{{ columns[13] }}</p>
                  {% for i in range(rating[13]) %}
                    <ion-icon name="star-sharp"></ion-icon>
                  {% endfor %}
                  {% for i in range(10 - rating[13]) %}
                    <ion-icon name="star-outline"></ion-icon>
                  {% endfor %}
                {% endif %}
                {% if rating[14] is not none %}
                  <p class="rating-header">{{ columns[14] }}</p>
                  {% for i in range(rating[14]) %}
                    <ion-icon name="star-sharp"></ion-icon>
                  {% endfor %}
                  {% for i in range(10 - rating[14]) %}
                    <ion-icon name="star-outline"></ion-icon>
                  {% endfor %}
                {% endif %}
              </div>
              {% endif %} {% endfor %}
            </div>
            <div class="notes-cont">
              <p class="notes-header">Notes</p>
              {% if notes %}
              <ul>
                {% for note in notes %} {% if note[2] == creator[7] %}
                <li>{{ note[0] }} - {{ note[1] }}</li>
                {% endif %} {% endfor %}
              </ul>
              {% else %}
              <ul>
                {% for message in messages %} {% if message[2] == creator[7] %}
                <li>{{ message[0] }} - {{ message[1] }}</li>
                {% endif %} {% endfor %}
              </ul>
              {% endif %}
            </div>
          </div>
          <form class="form4" method="POST" action="/" name="form4">
            <input type="hidden" name="form_name" value="form4" />
            <input type="hidden" name="channel_id" value="{{ creator[7] }}" />
            <label for="rating">General Rating:</label>
            <select
              class="dropdown text-center"
              id="rating"
              name="rating"
              required
            >
              <option value="" disabled selected>Select</option>
              {% for i in range(1, 11) %}
              <option value="{{ i }}">{{ i }}</option>
              {% endfor %}
            </select>

            {% for aspect in aspects %}
            <label for="{{ aspect.lower() }}">{{ aspect }}:</label>
            <select
              class="dropdown text-center"
              id="{{ aspect.lower() }}"
              name="{{ aspect.lower() }}"
            >
              <option value="" disabled selected>Select</option>
              {% for i in range(1, 11) %}
              <option value="{{ i }}">{{ i }}</option>
              {% endfor %}
            </select>
            {% endfor %}

            <button type="submit" name="add_rating">Add/Alter</button>
          </form>
          <form class="form3" method="POST" action="/" name="form3">
            <input type="hidden" name="form_name" value="form3" />
            <input type="hidden" name="channel_id" value="{{ creator[7] }}" />
            <label for="message">Message:</label>
            <textarea
              class="text-center"
              id="message"
              name="message"
              rows="3"
              cols="20"
            ></textarea>
            <button type="submit" name="add_note">Add Note</button>
          </form>
          <form class="form2" method="POST" action="/" name="form2">
            <input type="hidden" name="form_name" value="form2" />
            <input type="hidden" name="channel_id" value="{{ creator[7] }}" />
            <button
              class="delete-btn"
              onclick="return confirm('Are you sure you want to delete this YouTube creator? Doing so will also delete all of your notes on this channel!');"
              type="submit"
            >
              delete
            </button>
          </form>
        </div>
      </div>
      {% endfor %}
    </div>
    <div class="footer-cont">
      <footer class="footer">
        <div class="footer-links text-center">
          <div class="custom-shape-divider-bottom-1682661039">
            <svg
              data-name="Layer 1"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 1200 120"
              preserveAspectRatio="none"
            >
              <path
                d="M985.66,92.83C906.67,72,823.78,31,743.84,14.19c-82.26-17.34-168.06-16.33-250.45.39-57.84,11.73-114,31.07-172,41.86A600.21,600.21,0,0,1,0,27.35V120H1200V95.8C1132.19,118.92,1055.71,111.31,985.66,92.83Z"
                class="shape-fill"
              ></path>
            </svg>
          </div>
          <div class="name">
            <h4 class="text-center">React-i-Rate</h4>
            <a href="/">Home</a>
            <a href="/pentatonix">Pentatonix</a>
            <a href="/contact">Contact</a>
          </div>
          <img
            class="git-link"
            src="static/images/linx-logo.png"
            alt="My Logo"
          />
          <a target="_blank" href="https://github.com/lyzx07"
            ><ion-icon name="logo-github"></ion-icon
          ></a>
          <a
            target="_blank"
            href="https://www.linkedin.com/in/lindsey-howell-a2684155/"
            ><ion-icon name="logo-linkedin"></ion-icon
          ></a>
        </div>
      </footer>
    </div>
    <script
      type="module"
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"
    ></script>
    <script src="static/index.js" type="text/javascript"></script>
  </body>
</html>
