@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

/* CSS FOR BODY SECTIONS AND BACKGROUNDS FOR ALL PAGES */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  min-height: 100vh;
  overflow-x: hidden;
}

.bg-ptx {
  background-image: url("https://images.pexels.com/photos/3374210/pexels-photo-3374210.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.bg-login {
  background-color: hsl(0, 5%, 4%);
  background-image: linear-gradient(
      -45deg,
      transparent 75%,
      hsl(0, 0%, 3.5%) 75%
    ),
    linear-gradient(45deg, transparent 75%, hsl(0, 0%, 3.5%) 75%),
    linear-gradient(-135deg, transparent 75%, hsl(0, 0%, 3.5%) 75%),
    linear-gradient(135deg, transparent 75%, hsl(0, 0%, 3.5%) 75%);
  background-size: 4rem 4rem;
  background-position: 4rem 0, 1rem 0, 0 1rem, 0 0;
}

.bg-index {
  background-image: url("https://images.pexels.com/photos/3214110/pexels-photo-3214110.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/* CSS FOR FOOTER SECTION FOR ALL PAGES*/
.custom-shape-divider-bottom-1682661039 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-bottom-1682661039 svg {
  position: relative;
  display: block;
  width: calc(138% + 1.3px);
  height: 209px;
}

.custom-shape-divider-bottom-1682661039 .shape-fill {
  fill: rgb(6, 20, 90);
}

.footer-cont {
  position: relative;
  margin-top: 150px;
}

.name {
  position: relative;
  margin-bottom: 20px;
  color: white;
}

.name a {
  text-decoration: none;
}

.footer-links a,
.footer-links img {
  padding: 10px;
}

.footer-links img {
  position: relative;
}

/* CSS FOR LOGIN PAGE NAVIGATION */

.navigation {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  z-index: 100;
}

.navigation img,
.git-link {
  width: 40px;
  height: 40px;
}

.navigation .links {
  color: rgb(255, 255, 255);
  background: transparent;
  width: 100px;
  text-decoration: none;
  margin: 10px;
  font-weight: normal;
}

.links {
  border: none;
}

.navigation .git-link {
  margin: 5px;
}

/* CSS FOR LOGIN REGISTRATION MODAL */

.modal-login {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1000; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
}

/* Modal Content */
.modal-content {
  position: relative;
  margin: auto;
  padding: 20px;
  width: 80%;
  background: #080808;
  opacity: 0.95;
}

/* The Close Button */
.close {
  position: absolute;
  top: 0;
  right: 0;
  padding-right: 10px;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

/* CSS FOR REACT-I-RATE HEADER ON LOGIN PAGE */

.header {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#text {
  position: absolute;
  font-size: 5em;
  color: #fff;
  text-shadow: 8px 8px 5px rgb(6, 23, 106);
  z-index: 2;
}

.header #pic2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100vh;
  pointer-events: none;
}

.header #pic1 {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100vh;
  pointer-events: none;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

/* CSS FOR LOGIN AND REGISTRATION FORMS */

section {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
}

.inputbox {
  position: relative;
  margin: 30px 0;
  width: 310px;
  border-bottom: 2px solid #fff;
}

.inputbox label {
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  color: #fff;
  font-size: 1em;
  pointer-events: none;
  transition: 0.5s;
}

input:focus ~ label,
input:valid ~ label {
  top: -5px;
}

.inputbox input {
  width: 100%;
  height: 50px;
  background: transparent;
  border: none;
  outline: none;
  font-size: 1em;
  padding: 0 35px 0 5px;
  color: #fff;
}

.inputbox ion-icon {
  position: absolute;
  right: 8px;
  color: #fff;
  font-size: 1.2em;
  top: 20px;
}

.forget {
  margin: -15px 0 15px;
  font-size: 0.9em;
  color: #fff;
  display: flex;
  justify-content: space-around;
}

.forget label input {
  margin-right: 3px;
}

.forget label a {
  color: #fff;
  text-decoration: none;
}

.forget a {
  color: #fff;
  text-decoration: none;
}

.forget label a:hover {
  text-decoration: underline;
}

.register-btn,
.login-btn,
.search-btn {
  width: 100%;
  height: 40px;
  border-radius: 40px;
  background: #fff;
  color: black;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 1em;
  font-weight: 600;
}

.register {
  font-size: 0.9em;
  color: #fff;
  text-align: center;
  margin: 25px 0 10px;
}

.register p a {
  text-decoration: none;
  color: #fff;
  font-weight: 600;
}

.register p a:hover {
  text-decoration: underline;
}

/* The side navigation menu */
.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 9999; /* Stay on top */
  top: 0;
  left: 0;
  background-color: #111; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

.span-menu {
  position: fixed;
  color: rgb(6, 23, 106);
  text-shadow: 1px 1px #fff;
  font-size: larger;
  cursor: pointer;
  margin: 10px;
  z-index: 9998;
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* CSS FOR SIDEBAR NAV MENU FOR INDEX, PTX, AND CONTACT PAGES */

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}


/* !!!!!!!!CSS FOR INDEX PAGE!!!!!!!! */

/* CSS FOR INDEX FORMS */
.form-box,
.index-form-box {
  position: relative;
  width: 400px;
  height: 450px;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 0.5);
  box-shadow: 0 0 30px rgb(6, 23, 106);
  border-radius: 20px;
  backdrop-filter: blur(15px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-index {
  display: flex;
  flex-direction: column;
}

.form-index button {
  align-self: center;
  margin-top: 15px;
}

.form-index input {
  align-self: center;
  width: fit-content;
}

.form2-cont,
.rating {
  color: white;
}

.form2-cont {
  display: flex;
  justify-content: center;
  margin-top: 5rem;
}

.input-field {
  color: black;
  background-color: white;
  opacity: 0.8;
}

#message,
#existing_note,
.highlight-note {
  color: black;
}

.dropdown {
  color: black;
}

.form-group-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}

.form-group {
  margin-bottom: 10px;
}

.form-group label {
  margin-bottom: 5px;
}

.form-group-label,
.form-group-select,
.other-form-group-title,
.form-group label {
  display: flex;
  flex: 100%;
  justify-content: center;
  margin-bottom: 15px;
}

.response-container {
  color: white;
}

.form3-textarea-cont,
.form3-highlight-cont {
  display: flex;
  width: 50%;
  justify-content: center;
  flex-direction: column;
  margin: auto auto;
  padding: 15px;
}

.form3-textarea-cont {
  border-bottom: 2px solid white;
}

.form3-textarea-cont textarea,
.form3-highlight-cont select {
  width: 70%;
  margin: 15px auto 15px auto;
}

.form3-textarea-cont button,
.form3-highlight-cont button {
  margin: auto auto;
  margin-top: 15px;
}

.form-group-solo {
  height: 150px;
}

.label-solo {
  border-left: 2px solid white;
  border-right: 2px solid white;
  padding: 10px;
}

.other-ratings {
  font-size: larger;
  margin-bottom: 15px;
}

.form-group {
  border-left: 2px solid white;
  border-bottom: 2px solid white;
}

/* CSS FOR ALL OR MOST FORM BUTTONS */

.dropdown,
.form4-btn,
.read-more-btn,
.delete-btn,
.highlight-select,
.highlight-btn,
.add-note-btn,
.btn-show-more,
.close-dialog-btn {
  margin-block: 15px;
  background-color: #fff;
  border: 1px solid #d5d9d9;
  border-radius: 8px;
  box-shadow: rgba(213, 217, 217, 0.5) 0 2px 5px 0;
  box-sizing: border-box;
  color: black;
  cursor: pointer;
  display: inline-block;
  font-size: 13px;
  line-height: 29px;
  padding: 0 10px 0 11px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
}

.read-more-btn:hover {
  text-decoration: none;
  color: black;
}

.read-more-btn {
  text-decoration: none;
  color: black;
}

.read-more-btn:visited {
  color: black;
  text-decoration: none;
}

.read-more-btn:link {
  color: black;
  text-decoration: none;
}

.read-more-btn:focus {
  color: black;
  text-decoration: none;
}

.read-more-btn:active {
  color: black;
  text-decoration: none;
}

.read-more-btn {
  width: 100%;
}

.dropdown:hover {
  background-color: #f7fafa;
}

.dropdown:focus {
  border-color: #008296;
  box-shadow: rgba(164, 207, 207, 0.5) 0 2px 5px 0;
  outline: 0;
}

/* CSS FOR ALL OR MOST SECTION HEADERS/TITLES */

.cont-index {
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h2 {
  font-size: 2em;
  color: #fff;
  text-align: center;
}

.h1,
.h2 {
  font-size: 5em;
  color: rgb(6, 23, 106);
  text-shadow: 1px 1px 5px #fff;
  z-index: 100;
}

.h3,
.h4 {
  color: white;
  text-shadow: 3px 3px 5px rgb(6, 23, 106);
  opacity: 0.7;
  z-index: 100;
  font-weight: bold;
}

.creator-link-cont {
  margin: 25px 0;
}

.creator-link-cont ul {
  display: flex;
  justify-content: space-around;
  width: 80%;
  margin: 10px auto;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 0.5);
  box-shadow: 0 0 30px rgb(6, 23, 106);
  border-radius: 20px;
  backdrop-filter: blur(15px);
}

.creator-link {
  color: white;
  text-decoration: none;
}

.creator-link:visited {
  color: white;
  text-decoration: none;
}

.creator-link:link {
  color: white;
  text-decoration: none;
}

.creator-link:focus {
  color: white;
  text-decoration: none;
}

.creator-link:active {
  color: white;
  text-decoration: none;
}

.creator-link:hover {
  color: gray;
}

/* CSS FOR CREATOR CONTAINERS */

.you-link {
  color: white;
}

.toggle_wrapper {
  display: flex;
  flex: 100%;
  flex-direction: column;
  justify-content: center;
  color: white;
  font-weight: bold;
  padding: 1rem;
}

#wrap_toggle {
  width: 100%;
  height: 35px;
  line-height: 35px;
  background: transparent;
  color: white;
  font-weight: bold;
  font-variant: small-caps;
  text-decoration: none;
}

.creator-cards {
  display: flex;
  justify-content: center;
}

.card-cont {
  width: 60%;
  background-color: transparent;
  backdrop-filter: blur(15px);
  color: #333; /* Use a dark gray text color */
  margin: 50px;
  border-radius: 10px;
  border: 2px solid rgba(255, 255, 255, 0.5);
  box-shadow: 30px -50px rgba(255, 255, 255, 0.5);
}

.card-cont:hover {
  box-shadow: 0 0 20px white; /* Increase the shadow size on hover */
}

.card-image {
  width: 150px;
  height: auto;
  align-self: center;
  border-radius: 50%;
  overflow: hidden;
}

.card-item {
  padding: 20px;
  font-size: 18px; /* Use a larger font size for the card content */
  font-weight: bold; /* Use a bold font weight for the card title */
}

.card-header {
  color: #fff; /* Use a white text color for the card header */
  border-radius: 10px 10px 0 0; /* Add rounded corners to the top corners of the header */
  padding: 10px;
}

.card-title,
#hidden-h4 {
  margin: 0; /* Remove the default margin from the card title */
  font-size: 30px; /* Use a larger font size for the card title */
}

.card-body {
  margin-top: -25px;
}

/* CSS FOR RATINGS AND NOTES SECTIONS OF INDEX PAGE */

.custom-icon {
  color: gold;
}

.rating-section {
  padding: 10px;
  border-bottom: 2px solid #ddd;
  border-top: 2px solid #ddd;
}

.rating-header {
  font-size: 16px;
}

.section-rating-header {
  position: relative;
  display: inline-block;
}

.section-rating-header::after {
  content: "";
  position: absolute;
  left: -5%;
  right: -5%;
  bottom: -2px; /* Adjust this value to control the distance of the line from the text */
  height: 1px;
  background-color: #ddd;
}

.notes-cont {
  background-color: transparent;
  padding: 10px;
  border-radius: 5px;
  margin: 10px 0;
}

.notes-header {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
}

.notes-subheader {
  font-size: 14px;
  margin-bottom: 5px;
}

#notes-table {
  width: 100%;
  border-collapse: collapse;
}

#notes-table th,
#notes-table td {
  padding: 8px;
  border-bottom: 1px solid #ddd;
  text-align: left;
}

#notes-table th {
  font-weight: bold;
}

#notes-table tbody tr:last-child td {
  border-bottom: none;
}

/*!!!!!!!!CSS FOR PENTATONIX PAGE!!!!!!!!*/

/* CSS FOR NAVBAR WITH DIALOG AND DROPDOWN MENU */
.nav-bar-dialog {
  display: flex;
  justify-content: flex-end;
  background-color: transparent;
}

.nav-sec,
.open-dialog-btn {
  margin-right: 15px;
}

.nav-bar-dialog button {
  background-color: transparent;
  color: white;
  border: none;
}

.dialog-watched {
  margin: 15px auto;
  width: 50%;
  height: auto;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 0.5);
  box-shadow: 0 0 30px rgb(6, 23, 106);
  border-radius: 20px;
  backdrop-filter: blur(15px);
  color: white;
}

.watched-table-cont {
  display: flex;
  flex-direction: column;
}

.dialog-watched table,
.dialog-watched .close-dialog-btn {
  margin: 0 auto;
}

.watched-table {
  width: 100%;
  border-collapse: collapse;
}

.watched-table th,
.watched-table td {
  padding: 10px;
  text-align: left;
  border: 1px solid #ccc;
  text-align: center;
}

.watched-table td a {
  color: white;
  text-decoration: none;
}

.watched-table td a:hover {
  color: white;
  opacity: 0.5;
}

.watched-table th {
  background-color: rgba(225, 228, 247, 0.5);
}

.close-dialog-btn-cont {
  margin-top: 20px;
  align-self: center;
}

.dropdown-cont {
  position: relative;
  display: inline-block;
}

.dropbtn-sections {
  background-color: transparent;
  color: white;
  border: none;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: transparent;
  border: 2px solid rgba(255, 255, 255, 0.5);
  box-shadow: 0 0 30px rgb(6, 23, 106);
  border-radius: 20px;
  backdrop-filter: blur(15px);
  min-width: 160px;
  z-index: 1;
  clip-path: inset(0px round 20px);
}

.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: center;
}

.dropdown-content a:hover {
  background-color: rgba(225, 228, 247, 0.5);
}

.dropdown-cont:hover .dropdown-content {
  display: block;
  margin-right: 50px;
}

.refresh-icon-cont {
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 15px;
}

.ion-p {
  font-size: 14px;
  margin-bottom: 0;
  display: flex;
  align-items: center;
}

.refresh-icon {
  font-size: 24px;
  cursor: pointer;
  margin-right: 5px; /* Add margin between icon and text */
}

/* CSS FOR TEXT SECTIONS ON PTX PAGE */

b {
  font-size: larger;
  padding: 5px;
}

.phrases dl,
.ptx-notes p {
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.phrases dl,
.pinned-note,
.ptx-notes p {
  color: white;
}

.phrases,
.ptx-notes {
  padding: 50px;
}

.phrases dt,
.ptx-notes p b {
  font-size: x-large;
  font-family: "Alice", serif;
  text-decoration: underline;
  text-decoration-color: rgba(255, 255, 255, 0.5);
  margin: 20px 0 10px 0;
}

.title {
  display: flex;
  flex: 100%;
  width: fit-content;
  margin: auto auto;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 5rem;
  border-inline-style: solid;
  border-inline-width: 15px;
  border-inline-color: rgb(6, 23, 106);
  padding: 10px;
  opacity: 0.8;
}

.audio {
  padding: 15px;
}

.list-cont {
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  padding: 50px;
}

/* CSS FOR SONG LISTS PTX PAGE */

ul {
  list-style: none;
  padding: 15px;
}

.song-list li {
  width: 500px;
  margin-left: 25px;
  margin-bottom: 10px;
  padding: 30px;
  border-left: 15px solid rgb(6, 23, 106);
  border-right: 15px solid rgb(6, 23, 106);
  box-shadow: 4px 4px 8px #888888;
}

.song-list li a,
.song-list li .views {
  color: white;
}

.song-list {
  max-height: 400px;
  overflow: hidden;
}

/* CSS FOR PROFILE PIC AND ANIMATION */

.profile-cont {
  display: flex;
  justify-content: center;
}

.profile-pic {
  --angle: 0deg;
  border-width: 2rem;
  border-style: dotted;
  border-image-source: linear-gradient(
    var(--angle),
    #888888,
    #2172ba,
    rgb(6, 23, 106)
  );
  border-image-slice: 10;
  height: 350px;
  width: 350px;
  animation: 10s rotate cubic-bezier(0.25, 0.46, 0.45, 0.94) infinite;
  -webkit-animation: 10s rotate cubic-bezier(0.25, 0.46, 0.45, 0.94) infinite;
  animation-timing-function: linear;
}

@keyframes rotate {
  0% {
    --angle: 0deg;
  }
  25% {
    --angle: 90deg;
  }
  50% {
    --angle: 180deg;
  }
  75% {
    --angle: 270deg;
  }
  100% {
    --angle: 360deg;
  }
}

@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

/* CSS FOR STATS CONTAINER AND HEADER/TITLE CONTAINER */
.parent {
  position: relative;
}

#video-count {
  position: absolute;
  top: 0;
  left: 0;
}

#sub-count {
  position: absolute;
  top: 0;
  right: 0;
}

#first-vid {
  position: absolute;
  bottom: 0;
  left: 0;
}

#last-vid {
  position: absolute;
  bottom: 0;
  right: 0;
}

.stats {
  margin: 15px;
  padding: 10px;
  color: white;
  opacity: 0.8;
  border-left: 15px solid rgb(6, 23, 106);
  border-right: 15px solid rgb(6, 23, 106);
}

/* !!!!!!!!MEDIA QUERIES!!!!!!!! */

@media only screen and (max-width: 1250px) {
  #video-count,
  #sub-count,
  #first-vid,
  #last-vid {
    position: relative;
    text-align: center;
  }
}

@media only screen and (max-width: 600px) {
  .header #pic1 {
    display: none;
  }

  .header #pic2 {
    width: 100%;
  }

  .h1,
  .h2 {
    font-size: 4em;
  }

  #text {
    font-size: 2.75em;
  }

  .form-box {
    width: 300px;
    height: 385px;
  }

  h2 {
    font-size: 1.5em;
  }

  .inputbox {
    width: 250px;
  }

  .inputbox label {
    font-size: 1em;
  }

  .inputbox input {
    height: 40px;
    padding: 0 25px 0 5px;
  }

  .forget {
    font-size: 0.8em;
  }

  button {
    height: 30px;
  }

  .modal-content {
    width: 100%;
  }

  .dialog-watched {
    width: 80%;
  }

  .song-list li {
    width: 90%;
    padding: 15px;
  }

  .song-list li {
    width: 400px;
    padding: 20px;
  }
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media only screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}

@media only screen and (max-width: 380px) {
  .h1,
  .h2 {
    font-size: 2.5em;
  }

  #text {
    font-size: 2em;
  }

  .profile-pic {
    width: 325px;
    height: 325px;
  }
}

@media only screen and (max-width: 280px) {
  .profile-pic {
    width: 270px;
    height: 270px;
  }

  .song-list li {
    width: 260px;
    padding: 20px;
  }

  .phrases dd {
    width: 250px;
  }
}
