@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  min-height: 100vh;
  overflow-x: hidden;
}

.bg {
  /* background-image: url('https://images.pexels.com/photos/7049596/pexels-photo-7049596.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; */
  background-color: hsl(0, 5%, 4%);
  background-image: linear-gradient(
      -45deg,
      transparent 75%,
      hsl(0, 0%, 3.5%) 75%
    ),
    linear-gradient(45deg, transparent 75%, hsl(0, 0%, 3.5%) 75%),
    linear-gradient(-135deg, transparent 75%, hsl(0, 0%, 3.5%) 75%),
    linear-gradient(135deg, transparent 75%, hsl(0, 0%, 3.5%) 75%);
  background-size: 4rem 4rem;
  background-position: 4rem 0, 1rem 0, 0 1rem, 0 0;
}

.navigation {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  z-index: 100;
}

.navigation img,
.git-link {
  width: 40px;
  height: 40px;
}

.navigation .links {
  color: rgb(255, 255, 255);
  background: transparent;
  width: 100px;
  text-decoration: none;
  margin: 10px;
  font-weight: normal;
}

.navigation .git-link {
  margin: 5px;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1000; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
}

/* Modal Content */
.modal-content {
  position: relative;
  margin: auto;
  padding: 20px;
  width: 80%;
  background: #080808;
  opacity: 0.95;
}

/* The Close Button */
.close {
  position: absolute;
  top: 0;
  right: 0;
  padding-right: 10px;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

.header {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#text {
  position: absolute;
  font-size: 5em;
  color: #fff;
  text-shadow: 8px 8px 5px rgb(6, 23, 106);
  z-index: 2;
}

.header #pic2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100vh;
  pointer-events: none;
}

.header #pic1 {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100vh;
  pointer-events: none;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
}

.form-box {
  position: relative;
  width: 400px;
  height: 450px;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  backdrop-filter: blur(15px);
  display: flex;
  justify-content: center;
  align-items: center;
}

h2 {
  font-size: 2em;
  color: #fff;
  text-align: center;
}

.inputbox {
  position: relative;
  margin: 30px 0;
  width: 310px;
  border-bottom: 2px solid #fff;
}

.inputbox label {
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  color: #fff;
  font-size: 1em;
  pointer-events: none;
  transition: 0.5s;
}

input:focus ~ label,
input:valid ~ label {
  top: -5px;
}

.inputbox input {
  width: 100%;
  height: 50px;
  background: transparent;
  border: none;
  outline: none;
  font-size: 1em;
  padding: 0 35px 0 5px;
  color: #fff;
}

.inputbox ion-icon {
  position: absolute;
  right: 8px;
  color: #fff;
  font-size: 1.2em;
  top: 20px;
}

.forget {
  margin: -15px 0 15px;
  font-size: 0.9em;
  color: #fff;
  display: flex;
  justify-content: space-around;
}

.forget label input {
  margin-right: 3px;
}

.forget label a {
  color: #fff;
  text-decoration: none;
}

.forget a {
  color: #fff;
  text-decoration: none;
}

.forget label a:hover {
  text-decoration: underline;
}

button {
  width: 100%;
  height: 40px;
  border-radius: 40px;
  background: #fff;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 1em;
  font-weight: 600;
}

.register {
  font-size: 0.9em;
  color: #fff;
  text-align: center;
  margin: 25px 0 10px;
}

.register p a {
  text-decoration: none;
  color: #fff;
  font-weight: 600;
}

.register p a:hover {
  text-decoration: underline;
}

/* FOOTER */
.custom-shape-divider-bottom-1682661039 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-bottom-1682661039 svg {
  position: relative;
  display: block;
  width: calc(138% + 1.3px);
  height: 209px;
}

.custom-shape-divider-bottom-1682661039 .shape-fill {
  fill:rgb(6, 20, 90);
}

.footer-cont {
  position: relative;
  margin-top: 150px;
}

.name {
  position: relative;
  margin-bottom: 20px;
  color: white;
}

.name a {
  text-decoration: none;
}

.footer-links a,
.footer-links img {
  padding: 10px;
}

.footer-links img {
  position: relative;
}

/* INDEX CSS */

.h1,
.h2 {
  font-size: 5em;
  color: rgb(6, 23, 106);
  text-shadow: 1px 1px 5px #fff;
  z-index: 100;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

.cont {
  margin-top: 10px;
}

/* The side navigation menu */
.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 9999; /* Stay on top */
  top: 0;
  left: 0;
  background-color: #111; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

.span-menu {
  z-index: 9999;
  color: rgb(6, 23, 106);
  text-shadow: 1px 1px #fff;
  font-size: larger;
  cursor: pointer;
  margin: 10px;
  z-index: 9998;
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.video {
  color: rgb(6, 23, 106);
}

ul {
  list-style: none;
}

.song-list li {
  width: 50%;
  margin: auto auto;
  padding: 10px;
  background-color: rgba(6, 23, 106, 0.8);
  border-radius: 50%;
  box-shadow: 4px 4px 8px #888888;
}

.song-list li a {
  color: white;
}

.song-list {
  max-height: 200px;
  overflow: hidden;
}

button {
  color: black;
  width: 100px;
}

.profile-cont {
  display: flex;
  justify-content: center;
}

.profile-pic {
  --angle: 0deg;
  border-width: 2rem;
  border-style: dotted;
  border-image-source: linear-gradient(
    var(--angle),
    #888888,
    #2172ba,
    rgb(6, 23, 106) 10em
  );
  border-image-slice: 10;
  height: 350px;
  width: 350px;
  animation: 5s rotate linear infinite;
  -webkit-animation: 10s rotate linear infinite;
}

.parent {
  position: relative;
}

#video-count {
  position: absolute;
  top: 0;
  left: 0;
}

#sub-count {
  position: absolute;
  top: 0;
  right: 0;
}

#first-vid {
  position: absolute;
  bottom: 0;
  left: 0;
}

#last-vid {
  position: absolute;
  bottom: 0;
  right: 0;
}

.stats {
  margin: 15px;
  color: white;
  opacity: 0.8;
  background-color: rgb(6, 23, 106);
}

@keyframes rotate {
  0% {
    --angle: 0deg;
  }
  50% {
    --angle: 180deg;
  }
  100% {
    --angle: 360deg;
  }
}

@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

@media only screen and (max-width: 1250px) {
  #video-count, #sub-count, #first-vid, #last-vid {
    position: relative;
    text-align: center;
  }  
}

@media only screen and (max-width: 600px) {
  .header #pic1 {
    display: none;
  }

  .header #pic2 {
    width: 100%;
  }

  .h1,
  .h2 {
    font-size: 4em;
  }

  #text {
    font-size: 2.75em;
  }

  .form-box {
    width: 300px;
    height: 385px;
  }

  h2 {
    font-size: 1.5em;
  }

  .inputbox {
    width: 250px;
  }

  .inputbox label {
    font-size: 1em;
  }

  .inputbox input {
    height: 40px;
    padding: 0 25px 0 5px;
  }

  .forget {
    font-size: 0.8em;
  }

  button {
    height: 30px;
  }

  .modal-content {
    width: 100%;
  }

  .song-list li {
    width: 90%;
    padding: 15px;
  }
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media only screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}

@media only screen and (max-width: 380px) {
  .h1,
  .h2 {
    font-size: 2.5em;
  }

  #text {
    font-size: 2em;
  }

  .profile-pic {
    width: 325px;
    height: 325px;
  }
}

@media only screen and (max-width: 280px) {
  .profile-pic {
    width: 270px;
    height: 270px;
  }
}
